.description-p {
    text-align: justify;
}

@media screen and (max-width: 769px) {
    .reverse-column-order {
        display: flex;
        flex-direction: column-reverse;
    }
}

#logo-nvidia {
    max-width: 200px;
}

#logo-3dv {
    max-width: 200px;
}